@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700);
@import url("../fonts/kreon/stylesheet.css");

/* ------------------------------------
------------- GENERAL ----------------
------------------------------------*/

html { font-size: 62.5%; }

body {
    background-color: #d9e8f5;
    color: #375d81;
    font-family: 'kreonlight';
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0 auto; }

* { box-sizing: border-box }
p {	margin: 0 0 2.1rem 0 }
img, embed, object, video { max-width: 100% }
strong { font-weight: 500 }
li { list-style-type: none }
ul{ padding: 0; margin: 0 }
img{ max-width:100% }
section { margin-top: 0 !important; margin-bottom:0 !important; padding-bottom: 100px}
p span {
    display: table; 
    background-color: white;
    padding: 8px;
    margin: 10px 0;
    width: auto;
}

small{
    color: #375d81;
}

footer{
    background-color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.8rem;
}

footer a { color: #375d81 ; min-height: inherit;padding-left: 0}

/* ---------------------------------
------------- FONTS ----------------
------------------------------------*/

h1, h2, h3, h4 { 
    font-weight: normal; 
    font-family: 'Glegoo', serif;
    margin-top:0 ;
}
h1 {
    font-size: 4.4rem;
    line-height: 5rem;
    font-weight: 700;
}
h2 {
    text-transform: uppercase;
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: 700;
    text-align: center;
    padding: 10px; 
    background-color: #375d81;
    color: white;
}
h3 {
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-align: center; 
}
h4 {
    text-transform: uppercase;
    margin: 2.1rem 0;
    font-size: 1.4rem; }

/* PARTICULAR */ 

.highcharts-container * {
    font-family: 'kreonlight';
    font-size: 1.5rem !important;
}
#circleBar-web-labels * {
    font-family: 'kreonlight';
    font-size: 2rem !important;   
    line-height: 2rem !important;   
}
svg text{
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
}

/* HEAD TITLE */

#head-title {
    background-color: white;
    padding-bottom:3rem;
    padding-top: 0rem;
    display: block;
}

#head-title .grid-pad{
    padding-top:0;
    margin: 0;
}

#head-title h1{
    color: #375d81;
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    z-index: 3;
    position: relative;
}

#decoration{
    float: left; position: absolute; max-height: 150px; top:40px; z-index: 2
}

/* ------------------------------------
------------- CLASSES ----------------
------------------------------------*/

/* Layout */

.row {display: block; clear: both; width: 100%; margin: 20px}

a.row{ display: block}
.rounded {
    -webkit-border-radius:20px !important;
    -moz-border-radius:20px !important;
    border-radius:20px !important; }

.number {
    margin-top: -10px;
    margin-right: 15px;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    padding: 25px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
    float: left; 
    width: 150px; }

.limit-width{
    position: relative;
    width: 120px;
    z-index: 9;
    display: block; }

.centered{
    margin: auto;
    max-width:700px;
}

.round-strokes-chart { margin: auto; }

.mysvg{
    height: 120px;
    padding: 0 10px;
    display: block;
    margin: auto;
}

.mysvg2{
    height: 160px;
    padding: 0 10px;
    display: block;
    margin: auto;
}
.transparent{ background-color: transparent !important}

.grey{ background-color: #b9cedb }

a.blue{ background-color: #375d81 ; display: block; min-width:100px;}

a.green{ background-color: rgb(133, 178, 123) }

.reverse {     
    -ms-transform: scale(-1); /* IE 9 */
    -webkit-transform: scale(-1); /* Safari */
    transform: scale(-1); /* Standard syntax */}

.clean{ height: 1px; display: block}

.langage {text-align: right;padding-top: 14px; color: transparent; display: block;  float: right;cursor: hand;margin-top: 0 !important}

.text-right{ text-align: right}
.float-right{ float: right;}

.pad-right {padding-right: 50px}
/* ------------------------------------
PANEL 1 : TIME SPENT ON PAPERWORK
------------------------------------*/

#time-spent h2{
    margin-top:0;
}

/* ------------------------------------
PANEL 2 : DOES IT PREVENT GROWTH?
------------------------------------*/

#growth .col-2-12 { text-align: center; }

.disappear{
    -webkit-animation: color_change1 1s infinite alternate;
    -moz-animation: color_change1 1s infinite alternate;
    -ms-animation: color_change1 1s infinite alternate;
    -o-animation: color_change1 1s infinite alternate;
    animation: color_change1 1s infinite alternate;
}

@-webkit-keyframes color_change1 {
    from { fill:none }
    to { fill: rgb(133, 178, 123) }
}
@-moz-keyframes color_change1 {
    from { fill: none }
    to { fill: rgb(133, 178, 123)}
}
@-ms-keyframes color_change1 {
    from { fill: none }
    to { fill: rgb(133, 178, 123)}
}
@-o-keyframes color_change1 {
    from { fill: none }
    to { fill: rgb(133, 178, 123)}
}
@keyframes color_change1 {
    from { fill: none }
    to { fill: rgb(133, 178, 123) }
}



/* ------------------------------------
PANEL 3 : ARE WE WORRIED ABOUT PAPERWORK?
------------------------------------*/

/* Graphbar */

.graph-barBack {
    border-radius: 2px;
    background: white;
    display: block;
    height: 40px;
    margin-top: 10px; 
}
.graph-barBack div{ 
    padding: 10px 15px; display: inline-block; font-size: 1.8rem;
}
.graph-bar, .graph-bar-2, .graph-bar-2b, .graph-bar-3, .graph-bar-4lg, .graph-bar-4w, .graph-bar-4b, .graph-bar-4g{
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    z-index: 9999;
    display: block; 
    width: 0%; 
    transition: all 2s ease-in-out;
    color : white;
}
.graph-bar-2{background-color: white !important}
.graph-bar-2b{background-color: white !important}
.graph-bar-2 .graph-percentage, .graph-bar-2b .graph-percentage { color: #375d81 !important}
.graph-bar-3 {background-color: #85b27b !important}


.graph-bar-left{
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    z-index: 9999;
    display: block; 
    width: 0%; 
    transition: all 2s ease-in-out;
    color: white;
    background-color:#85b27b; 
}
.graph-bar, .graph-bar-2 {
    background-color: #375d81;
}

.graph-bar-4lg{ background-color: rgba(133, 178, 123, 0.4);}
.graph-bar-4g{ background-color: #85b27b;}
.graph-bar-4b{ background-color: #375d81;}
.graph-bar-4w{ background-color: #ffffff ; color: #375d81 !important}


.yes .graph-percentage, .yes2 .graph-percentage {float: right; text-align: right;}


/* GraphBar Legend */

.graph-percentage { 
    height: 40px;
    width: 110px;
    padding: 0;
    text-align: left; 
}

.graph-percentage-left { 
    height: 40px;
    width: 87px;
    padding: 0;
    text-align: left; 
    color : white; 
    position: relative;
    right: 0;}
#ages li, #region li{
    height: 41px;
    padding:15px;
    margin-top: 8px; 
    text-align: center; 
}

.worried-yes h3 { color:#85b27b; }
.worried-graph{
    font-size: 1.8rem;
    vertical-align: top;
    margin-top: 40px
}

.padtop{
    padding-top:30px
}
.padbottom{
    padding-bottom:30px
}

/* ------------------------------------
PANEL 4 : PAPERWORK ACROSS THE COUNTRY
------------------------------------*/

.highcharts-tooltip + text[text-anchor='end'] { fill:transparent !important;}

/* ------------------------------------
PANEL 5 : WHO SPENDS THE MOST TIME ON PAPERWORK?
------------------------------------*/

.female img{margin: auto; margin-top: 10px}

/* CLOCK */

#hours{
    background-color: transparent;
    margin: 0px;
    display: block;
}

#needle {
    -webkit-animation: rotate 9s infinite linear;
    position: absolute;
    left: 50%;
}

.shining{
    -webkit-animation: color_change 2s infinite alternate;
    -moz-animation: color_change 2s infinite alternate;
    -ms-animation: color_change 2s infinite alternate;
    -o-animation: color_change 2s infinite alternate;
    animation: color_change 2s infinite alternate;
}

@-webkit-keyframes color_change {
    from { fill:#375d81 }
    to { fill: rgb(133, 178, 123) }
}
@-moz-keyframes color_change {
    from { fill: #375d81 }
    to { fill: rgb(133, 178, 123)}
}
@-ms-keyframes color_change {
    from { fill: #375d81 }
    to { fill: rgb(133, 178, 123)}
}
@-o-keyframes color_change {
    from { fill:#375d81 }
    to { fill: rgb(133, 178, 123)}
}
@keyframes color_change {
    from { fill: #375d81 }
    to { fill: rgb(133, 178, 123) }
}

@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg);-webkit-transform-origin: 0% 100%;}
    100% { -webkit-transform: rotate(360deg);-webkit-transform-origin: 0% 100%;}
}	

@-moz-keyframes rotate {
    0% { -moz-transform: rotate(0deg);-webkit-transform-origin: 0% 100%;}
    100% { -moz-transform: rotate(360deg);-webkit-transform-origin: 0% 100%;}
}	

@-ms-keyframes rotate {
    0% { -ms-transform: rotate(0deg);-webkit-transform-origin: 0% 100%;}
    100% { -ms-transform: rotate(360deg);-webkit-transform-origin: 0% 100%;}
}	

@-o-keyframes rotate {
    0% { -o-transform: rotate(0deg);-webkit-transform-origin: 0% 100%;}
    100% { -o-transform: rotate(360deg);-webkit-transform-origin: 0% 100%;}
}	

@keyframes rotate {
    0% { transform: rotate(0deg);-webkit-transform-origin: 0% 100%;}
    100% { transform: rotate(360deg);-webkit-transform-origin: 0% 100%;}
}	

/* ------------------------------------
PANEL 6 : HELP TO REDUCE YOUR PAPERWORK
------------------------------------*/

#reduce-paperwork { text-align: center;}
#reduce-paperwork a{ text-decoration: none; color:white; display: block; min-height: 110px; padding-left: 20px}
#reduce-paperwork img { float: left; width:100px; padding: 20px; margin-top: 5px}
#reduce-paperwork .evernote {margin-top: 0px !important}
#reduce-paperwork .row {margin: -21px 0px!important; }
#reduce-paperwork p{ height: 100%; font-size: 1.8rem;padding-top: 45px; text-align: left; padding-bottom: 20px}

/* ------------------------------------
PANEL 8 : EXTRA DAY TO GROW YOUR BUSINESS BY AREA
------------------------------------*/

#legend {float: left; position: absolute}
#legend li {margin-bottom: 15px;}
#legend li:nth-child(2) span {color: #85b27b}
#legend li:nth-child(3) span {color: white}
#legend li:last-child span {color: rgba(133, 178, 123, 0.4)}

.extraday-map {float: right;}

/* RESPONSIVE */

@media only screen and (max-width: 580px) {
    
    * { text-align: center}
    p span{ margin: auto }
    .mysvg{ margin-bottom: 40px }
    .ukmap { width: 150px; margin: auto }
    .chart-container-men, .chart-container-women, .chart-hour-men, .chart-hour-women { width: 200px; margin: auto }
    #reduce-paperwork p{ text-align: center }
    .responsive-off { display: none }
    .worried-yes{ width:70%; display: inline-block } 
    .worried-age{ width:28%; display: inline-block; vertical-align: top }
    .graph-percentage-left{ width: 80px } 
    .row{ width: auto; margin-bottom: 50px; display: block; }
    #reduce-paperwork p{ margin-top: 0px; padding-top: 25px;}
    #hours{ background-color: transparent; margin: 50px 0 }
    .areas{ width: 50%; display: inline-block; font-size: 1.8rem }
    .yes{ width: 50%; display: inline-block}

}

